.team-details-container{
    background-color: #bbff00bd;
}
.team-badge{
    width: 200px;
    margin: auto;
    line-height:350px ;
}
.team-profile{
    background-color: rgb(58, 66, 255);
    border-radius: 1em;
    width: 90%;
}
.team-info{
    color: white;
}
img{
    width: 100%;
}
.team-description{
    text-align: justify;
}