.bg-color{
    /* background-color: rgb(14, 10, 42); */
    /* background-color: rgba(238, 130, 238, 0.596); */
    background-color: rgb(255, 255, 0);
}
.team-badge{
    width: 200px;
    margin: auto;
    line-height:350px ;
}
.bg-img{
    height: 350px;
    background-image: url("../../Images/bg.jpg");
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.team-profile{
    background-color: rgb(58, 66, 255);
    /* padding: 2em; */
    /* margin: auto; */
    /* margin-top: 2em; */
    border-radius: 1em;
}
.team-info{
    color: white;
}
/* .team-image{
    width: 30%;
} */
img{
    width: 100%;
}
.social-media{
    width: 30%;
    margin:auto;
}
.icon-style{
    font-size: 50px;
    color: red;
}