.bg-color{
    background-color: #bbff00bd;
}
.team-badge{
    width: 200px;
    margin: auto;
    line-height:350px ;
}
.bg-img{
    height: 350px;
    background-image: url("../../Images/bg.jpg");
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.team-profile{
    background-color: rgb(58, 66, 255);
    border-radius: 1em;
    width: 90%;
}
.team-info{
    color: white;
}
img{
    width: 100%;
}
.team-description{
    text-align: justify;
}